*.DS_Store
*.egg-info/
*.pyc


blitzer-language-pli/__pycache__/
blitzer-language-pli/dist/
blitzer-language-pli/build/
blitzer-language-pli/blitzer_language_pli/lemmas.db
blitzer-language-pli/blitzer_language_slv/*.db.pre_uppercase_removal_backup
blitzer-language-pli/blitzer_language_pli/*.db.backup
blitzer-language-pli/blitzer_language_pli/*.db.fully_simplified_backup
blitzer-language-pli/blitzer_language_pli/*.db.simplified_backup

blitzer-language-slv/__pycache__/
blitzer-language-slv/dist/
blitzer-language-slv/build/
blitzer-language-slv/blitzer_language_slv/lemmas.db
blitzer-language-slv/blitzer_language_slv/*.db.pre_uppercase_removal_backup
blitzer-language-slv/blitzer_language_slv/*.db.backup
blitzer-language-slv/blitzer_language_slv/*.db.fully_simplified_backup
blitzer-language-slv/blitzer_language_slv/*.db.simplified_backup